In [3]:
import seaborn as sns
import pandas as pd

titanic_data = sns.load_dataset('titanic')
print(titanic_data)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [5]:
titanic_data = titanic_data[['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'survived']]
print(titanic_data)

     pclass     sex   age  sibsp  parch     fare embarked  survived
0         3    male  22.0      1      0   7.2500        S         0
1         1  female  38.0      1      0  71.2833        C         1
2         3  female  26.0      0      0   7.9250        S         1
3         1  female  35.0      1      0  53.1000        S         1
4         3    male  35.0      0      0   8.0500        S         0
..      ...     ...   ...    ...    ...      ...      ...       ...
886       2    male  27.0      0      0  13.0000        S         0
887       1  female  19.0      0      0  30.0000        S         1
888       3  female   NaN      1      2  23.4500        S         0
889       1    male  26.0      0      0  30.0000        C         1
890       3    male  32.0      0      0   7.7500        Q         0

[891 rows x 8 columns]

In [7]:
print(titanic_data.isna().sum())

pclass        0
sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
survived      0
dtype: int64

In [11]:
titanic_data = titanic_data.dropna()
titanic_data = pd.get_dummies(titanic_data, drop_first = True, dtype = 'uint8')
print(titanic_data)

     pclass   age  sibsp  parch     fare  survived  sex_male  embarked_Q  \
0         3  22.0      1      0   7.2500         0         1           0
1         1  38.0      1      0  71.2833         1         0           0
2         3  26.0      0      0   7.9250         1         0           0
3         1  35.0      1      0  53.1000         1         0           0
4         3  35.0      0      0   8.0500         0         1           0
..      ...   ...    ...    ...      ...       ...       ...         ...
885       3  39.0      0      5  29.1250         0         0           1
886       2  27.0      0      0  13.0000         0         1           0
887       1  19.0      0      0  30.0000         1         0           0
889       1  26.0      0      0  30.0000         1         1           0
890       3  32.0      0      0   7.7500         0         1           1

     embarked_S
0             1
1             0
2             1
3             1
4             1
..          ...
885           0
886           1
887           1
889           0
890           0

[712 rows x 9 columns]

In [19]:
X_name = ["pclass", "age", "sibsp", "parch", "fare", "sex_male", "embarked_Q", "embarked_S"]
X = titanic_data[X_name]
y = titanic_data["survived"]

In [23]:
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression

model = sm.Logit(y, sm.add_constant(X))
result = model.fit(disp = 0)
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  712
Model:                          Logit   Df Residuals:                      703
Method:                           MLE   Df Model:                            8
Date:                Mon, 01 Dec 2025   Pseudo R-squ.:                  0.3419
Time:                        11:17:11   Log-Likelihood:                -316.17
converged:                       True   LL-Null:                       -480.45
Covariance Type:            nonrobust   LLR p-value:                 3.392e-66
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          5.6374      0.635      8.884      0.000       4.394       6.881
pclass        -1.1993      0.165     -7.285      0.000      -1.522      -0.877
age           -0.0433      0.008     -5.266      0.000      -0.059      -0.027
sibsp         -0.3632      0.129     -2.815      0.005      -0.616      -0.110
parch         -0.0603      0.124     -0.486      0.627      -0.303       0.183
fare           0.0014      0.003      0.566      0.572      -0.004       0.006
sex_male      -2.6385      0.222    -11.871      0.000      -3.074      -2.203
embarked_Q    -0.8235      0.600     -1.372      0.170      -2.000       0.353
embarked_S    -0.4012      0.270     -1.484      0.138      -0.931       0.129
==============================================================================
"""